@reference "tailwindcss";

body {
	background-color: rgb(10, 10, 25);
	color: white; /* for most text */
	margin: 3rem;
}

.app-container {
	@apply w-full max-w-6xl mx-auto;
}

.header {
	@apply flex flex-col items-center justify-center p-6;
}

.h1-text {
	@apply font-['Syne'] text-[45px] flex flex-wrap;
}

.header-p-text {
	@apply font-['Space_Grotesk'] mt-4;
}

.search-container {
	@apply flex flex-row items-center justify-center gap-10;
}
